# Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized.

###### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

|Data Science Tools|
|------------------|
|MySQL             |
|PostgreSQL        |
|Apache Airflow    |

###### Some of the commonly used libraries used by Data Scientists include:
- NumPy 
- Matplotlib
- TensorFlow
- PyTorch

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [6]:
print("This will convert 200 minutes to hours by diving by 60")
200//60

This will convert 200 minutes to hours by diving by 60

3

###### Objectives:
- List popular languages for Data Science
- Libraries used by Data Scientists
- Data Science Tools

## Author
EL BAGGAR Hasna